@import "../../commons/Common.scss";
.discover-topics-section{
    display: flex;
    align-items: center;
    flex-flow: column;
    margin: 0 auto;
    margin-top: 5px;
    .card-topics-nav{
        h4{
            font-weight: 500;
            margin-bottom: 24px;
        }
    }
    .topics-list{
        ul {
            list-style-type: none;
            padding: 0;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            li{
                cursor: pointer;
                margin: 0 8px 12px 0;
                font-size: 12px;
                font-weight: 500;
                .category-name{
                    color: $primary;
                    &.selected {
                        color: $primary !important
                    }
                }
                
            }
        }
    }
}