@import "../../commons/Common.scss";
.discover-topics-section{
    display: flex;
    align-items: center;
    flex-flow: column;
    margin: 0 auto;
    padding: 40px 24px;
    border-top: 1px solid #d9d9d9;
    margin-top: 40px;
    .card-topics-nav{
        h4{
            font-weight: 500;
            margin-bottom: 24px;
        }
    }
    .topics-list{
        ul {
            list-style-type: none;
            padding: 0;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            li{
                margin: 0 8px 12px 0;
                font-size: 12px;
                font-weight: 500;
                .btn-secondary.selected {
                    background-color: $primary-dark !important;
                    color: $secondary !important
                }
            }
        }
    }
}