@import'../../commons/Common.scss';
.wallet-wrapper{
  display: flex;
  // justify-content: space-between;
  .wallet-container{
    display: flex;
    flex-flow: column;
    width: 25rem;
    flex:1;
    // box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    margin-top: 10px;
    padding: 10px;
    border-radius: 10px;
    // box-shadow: $shadow;
    justify-content: space-between;
    cursor: pointer;
    min-height: 200px;
  // &:hover {
  //   box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  // }
  &:nth-child(1){
    background-color: #F1f1f1;
    border: 1px solid $primary
  }
  &:nth-child(2){
      margin: 10px 10px 0 10px;
      background-color: #F1f1f1;
      border: 1px solid $secondary
  }
  &:nth-child(3){
    background-color: $primary-light;
}
  .wallet-type{
    font-family: "Inter, system-ui", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 25px;
    font-weight: 700;
    line-height: 38px;
  }
  .coin-amount{
    font-family: "Inter, system-ui", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 18px;
    margin: 10px 0;
    p{
      color: $secondary !important;
    }
  }
  .next-step{
    font-family: "Inter, system-ui", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 18px;
    color: $secondary;
  }
  .coin-description{
    flex: 1;
    display: flex;
    align-items: flex-end;
      span{
        font-family: "Inter, system-ui", "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: 14px;
        font-weight: 500;
        line-height: 18px;
      }
  }
}
}
.transaction-wrapper{
  min-height: 200px;
  overflow-y: auto;
  margin-top: 20px;
}
