@import "../../commons/Common.scss";
.viewSignature{
    height: calc(100vh - 60px);
    .signature-container{
        border: 1px solid $primary-light;
        border-radius: 5px;
        height: 600px;
        box-shadow: 0 0.5rem 1rem $primary-lightest !important;
        background-color: #FFFFFF;
        .left-side{
            padding: 0;
            padding: 5px ;
            background-color: $primary-lightest;
            border-right: 1px solid $primary-light;
            .pdfUploaded{
                .pdf-document{
                }
            }
        }
        .right-side{
            padding: 20px;
            padding-left: 50px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
        .middle-side{

        }
        .menu-bar{
            border-left: 2px solid #e8ebed;
            border-radius: 0 30px 30px 0;
            padding: 30px 15px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            .top-menu{
                gap: 30px;
                display: flex;
                flex-direction: column;
            }
            .bottom-menu{

            }
        }

        .signature-footer{
            display: flex;
            justify-content: space-between;
            .left-end{
                display: flex;
                gap: 30px;
            }
            .right-end{
                
            }
        }
        .form-row{
            &.title-row{
                margin-bottom: 0;
            }
            &.owner-row{
                color: grey;
            }
            &.tags-row{
                display: flex;
                gap:10px;
                .tagpill{
                    padding: 5px;
                    background-color: #bfbfbf;
                    color: #2E495A;
                }
            }
            &.input-row{
                display: flex;
                justify-content: space-between;
            }
        }
    }
}



