@import "../../App.scss";
.viewSignature{
    .signature-container{
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
        border-radius: 30px;
        height: 80vh;
        .left-side{
            padding: 20px;
            background-color: #2e49591c;
            border-radius: 30px 0 0 30px;
        }
        .right-side{
            padding: 20px;
            padding-left: 50px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
        .middle-side{

        }
        .menu-bar{
            border-left: 2px solid #e8ebed;
            border-radius: 0 30px 30px 0;
            padding: 30px 15px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            .top-menu{
                gap: 30px;
                display: flex;
                flex-direction: column;
            }
            .bottom-menu{

            }
        }

        .signature-footer{
            display: flex;
            justify-content: space-between;
            .left-end{
                display: flex;
                gap: 30px;
            }
            .right-end{
                
            }
        }
        .form-row{
            margin-bottom: 30px;
          
            &.title-row{
                margin-bottom: 0;
            }
            &.owner-row{
                color: grey;
            }
            &.tags-row{
                display: flex;
                gap:10px;
                .tagpill{
                    padding: 5px;
                    background-color: #bfbfbf;
                    color: #2E495A;
                }
            }
            &.input-row{
                display: flex;
                justify-content: space-between;
            }
        }
    }
}



