@import "../../commons/Common.scss";

.gallery {
  margin-top: 60px;
  .galler-area{
    max-height: calc(100vh - 120px);
    overflow-y: auto;
    overflow-x: hidden;
    // margin-top: 40px;
    .search-container{
      border-bottom: 2px solid #e6e6e6;
      padding-top: 3rem; 
      .guide-bookmark{
        height: 0;
        border-bottom: 20px solid $primary;
        border-top: 20px solid $primary;
        border-right: 15px solid transparent;
        float: right;
        margin-bottom: 20px;
        font-size: 17px;
        font-weight:700;
        position: absolute;
        left: 0px;
        color: white;
        white-space: nowrap;
        display: flex;
        align-items: center;
        padding: 0 10px;
        cursor: pointer;
        width: 240px;
        &.guide-bookmark1{
          top: 70px;
        }
        &.guide-bookmark2{
          top: 140px;
        }
        &.guide-bookmark3{
          top: 210px;
        }
        bottom: 15%;
        animation-iteration-count: 1;
        -webkit-animation: linear;
        -webkit-animation-name: run;
        -webkit-animation-duration: 0.1s;
      }
      @-webkit-keyframes run {
        0% {
          width: 0;
        }
        100% {
          width: 240px;    
        }
      }

      .top-help{
        width: 200px;
        height: 1.7rem;
        font-size: 17px;
        font-weight: 700;
        position: absolute;
        white-space: nowrap;
        display: flex;
        padding: 0 10px;
        cursor: pointer;
        top: 10px;
        border: 1px solid #78589f;
        border-radius: 0 0 15px 15px;
        background: #d0e2eb;
        font-weight: 500;
        color: $primary;
        justify-content: center;
      }
    }
  }
  .latest-news{
    border-left: 1px solid $greyLight-1;
    height: calc(100vh - 120px);
    overflow: scroll;
    
    .second-header{
      padding-left: 1px;
    }
    .comment-entry{

    }
    .activity-entry{
      padding: 1px;
      justify-content: space-between;
      align-items: center;
      gap: 10px;
      .activity-title{
        color: $primary;
      }
      .activity-thumbnail{
        img{
          &.primary{
            background-color: $primary;
            color: white;
          }
        }
       
      }
    }
  }
  .search-discover {
    align-self: center;
    width: 100%;
    .ideatribe-stats{
      .stats-entry{
        .stats-title{
          color: $secondary;
          font-size: 50px;
          
        }
        .stats-value{
        }
      }
    }
    .search-segment{
      position: relative;
    }
  }
  .userPane {
    height: 250px;
    border-bottom: 1px solid $primary;
  }
  .profile-row {
    justify-content: center;
  }
  .profileHolder {
    width: 100%;
    height: 250px;
    border: 1px solid $primary;
    border-top: none;
    .carousel {
      height: 100%;
      .carousel-control-prev-icon,
      .carousel-control-next-icon {
        display: none;
      }
    }
    .carousel-inner {
      .row {
        margin: 10px;
        align-items: center;
      }
      .content {
        display: flex;
        align-items: center;
      }
      .content-profile {
        width: 100px;
        display: flex;
        align-items: flex-end;
        img {
          height: 90px;
          width: 90px;
          border-radius: 100px;
        }
      }
      .button-label {
        background-image: linear-gradient(
          140deg,
          #eadedb 0%,
          #f1bbe0 50%,
          #b3ba8c6e 75%
        );
        height: 40px;
        margin: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        background-size: 300% 100%;
        box-shadow: 0px 0px 20px 0px #7a7272;
        -o-transition: all 0.4s ease-in-out;
        -webkit-transition: all 0.4s ease-in-out;
        transition: all 0.4s ease-in-out;
        &:hover {
          background-position: 100% 0;
          -o-transition: all 0.4s ease-in-out;
          -webkit-transition: all 0.4s ease-in-out;
          transition: all 0.4s ease-in-out;
        }
      }
    }
    .carousel-control-prev {
      width: 5%;
    }
  }
  .cover {
    width: 100%;
    height: 230px;
    object-fit: cover;

    opacity: 0.3;
  }
}
