@import "../../commons/Common.scss";

.createform {
  .closeIcon{
    background-color: white;
    border-radius:15px ;
    color: black;
    position: absolute;
    top: -5px;
    right: -5px;
    border: 1px solid black;
    z-index: 1;
    cursor: pointer;
  }
  border-color: $primary;
  height: calc(100vh - 60px);
  margin-top: 60px;
  overflow: scroll;
  .responsive-content {
    
    margin: 60px 0;
    padding: 0;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.18) 0px 21px 41px -13px;
    background: $primary;
    .create-form {
      height: 100%;
      .create-wizard-bar {
        height: 50px;
      }
      .content-container {
        // position: absolute;
        width: 100%;

        height: calc(100% - 50px);
        margin: 0;
        .purpose-button {
          width: 100%;
          padding: 5%;
          margin-top: 10px;
        }
        .title-n-desc {
          padding: 30px;
          height: inherit;
          .titleArea,
          .descriptionArea {
            background: transparent;
            color: $white;
            border-bottom: 1px solid #676e76;
            padding: 0;
          }
          .file-storage-group {
            .file-storage-label {
              display: flex;
              align-items: center;
              margin-bottom: 10px;
              svg {
                color: $white;
                margin-left: 10px;
                width: 15px;
              }
              label {
                color: $white;
                margin: 0;
                font-size: 20px;
              }
            }
            .form-check {
              margin-top: 15px !important;
            }

            .select__control {
              background: transparent;
              .select__single-value {
                color: $white;
              }
            }
            .form-check {
              font-size: 15px;
              color: $white;
              margin-right: 25px;
            }
          }
        }
        
        .price-n-category {
          margin-top: 40px;
          padding: 10px 30px;
          height: inherit;
          .price-selector,
          .tag-selector {
            .css-yk16xz-control {
              border-bottom: 1px solid $white;
              background: transparent;
            }
            background: transparent;
            color: $white;
            .css-g1d714-ValueContainer {
              .css-1rhbuit-multiValue {
                background: transparent;
                border: 1px solid $secondary;
                .css-12jo7m5,
                .css-xb97g8 {
                  color: $secondary;
                }
              }
              .css-12jo7m5 {
                color: $white;
              }
            }
          }
          .tag-selector {
            &.input-err {
              border-bottom: none !important;
              .css-yk16xz-control {
                border: 1px solid $danger;
              }
            }
          }

          .purpose-selector-row {
            margin: 50px 0;

            .purpose-button {
              color: $white;
              border: 1px solid $white !important;
              position: relative;
              min-height: 35px;
              &:hover,
              &:active,
              &:focus {
                background: transparent;
              }
              svg {
                position: absolute;
                left: 10px;
              }
            }
          }
          .price-input-group {
            input {
              border: 1px solid $white;
              border-top-left-radius: 4px;
              border-bottom-left-radius: 4px;
              &.input-err {
                border: 1px solid $danger;
              }
            }
            .input-group-text {
              background: transparent;
              color: $white;
              border-left: 0;
              border-top-left-radius: 0;
              border-bottom-left-radius: 0;
            }
          }
        }
        .image-container {
          display: flex;
          justify-content: center;
          align-items: flex-start;
          // border: 1px dashed $primary;
          border-radius: 10px;
          background: $primary-dark;
          .imageUploaded {
            display: flex;
            justify-content: center;
            align-items: center;
            .removeImage {
              position: absolute;
              z-index: 1;
              right: 10px;
              top: 10px;
              color: $white;
            }
            img {
              max-width: 100%;
              max-height: 100%;
            }
          }
          .empty-image-row {
            align-self: center;
            border: 1px dashed $white;
            cursor: pointer;
            height: 300px;
            width: 500px;
            border-radius: 20px;
            padding: 10px;
            .emptyImage {
              cursor: pointer;
              justify-content: center;
              .dropfile-text {
                font-size: 15px;
                color: $white;
                margin-bottom: 10px;
              }
              .dropfile-icon {
                margin-bottom: 10px;
              }
            }
          }
        }
        .pdf-container {
          display: flex;
          justify-content: center;
          align-items: center;
          background: $primary-dark;
          border-top-right-radius: 10px;
          .pdfUploaded {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-basis: 100%;
            .removePDF {
              position: absolute;
              z-index: 1;
              right: 10px;
              top: 10px;
              color: $white;
            }
            .react-pdf__Document {
              margin: 0 auto;
              width: 90% !important;
              height: 90% !important;
              display: flex;
              align-items: center;
              .react-pdf__Page {
                width: 100%;
                height: 100%;
                .react-pdf__Page__canvas,
                .react-pdf__Page__textContent {
                  width: 100% !important;
                  height: 100% !important;
                }
              }
            }
            img {
              max-width: 100%;
              max-height: 100%;
            }
            .audio-wrapper {
              display: flex;
              flex-flow: column;
              align-items: center;
              img {
                width: 200px;
              }
            }
          }
          .empty-pdf-row {
            margin: 10px;
            align-self: center;
            justify-content: center;
            align-items: center;
            flex-flow: column;
            .emptypdf {
              cursor: pointer;
              .dropfile-text {
                font-size: 15px;
                color: $primary;
                margin-bottom: 10px;
              }
              .dropfile-icon {
                margin-top: 10px;
              }
            }
            .file-drop-contatiner {
              border: 1px dashed $white;
              display: flex;
              align-items: center;
              justify-content: center;
              cursor: pointer;
              flex-flow: column;
              height: 500px;
              width: 300px;
              border-radius: 20px;
              padding: 10px;
              text-align: center;
              svg {
                color: $white;
                width: 30px;
                height: 30px;
                margin-bottom: 10px;
              }
              p {
                color: $white;
                margin: 0;
                &.invalid-paragraph {
                  color: $danger;
                  margin: 1rem 0;
                  font-size: 12px;
                }
              }
            }
          }
        }
      }

      .footer-class {
        margin: 0;
        width: 100%;
        height: 50px;
        background-color: $secondary;
        border-radius: 0 0 10px 10px;
        .col-md-6 {
          &:first-child {
            padding-left: 30px;
          }
          &:last-child {
            padding-right: 30px;
          }
        }
        .right-btn-container {
          border-bottom-right-radius: 10px;
        }
      }
    }
  }
  .input-err {
    border-bottom: 1px solid $danger !important;
  }
  .invalid-paragraph {
    color: $danger;
    margin: 1rem 0;
    font-size: 12px;
  }
  .purpose-label,
  .tags-label,
  .price-label,
  .description-label,
  .title-label {
    label {
      color: $white;
      font-size: 18px;
      font-weight: 300;
    }
  }
  .select__menu {
    z-index: 9999;
  }
  .css-1pahdxg-control {
    background: transparent;
  }
  .css-26l3qy-menu {
    color: $primary-dark;
  }
  .preview-doc {
    background: $primary;
    .pdf-container {
      height: 450px;
      width: 450px;
      min-width: 450px;
      background: transparent !important;
      margin: 20px 0;
    }
    .description-container {
      margin-top: 10px;
      p {
        word-break: break-word;
        color: $white;
        &:first-child {
          text-align: center;
        }
      }
    }
  }
  .preview-details {
    background: $primary-dark;
    display: flex;
    flex-flow: column;
    flex-wrap: wrap;
    .content-profile {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-flow: column;
      margin: 50px 0;
      p {
        color: #fff;
        text-transform: capitalize;
        text-transform: capitalize;
        margin: 10px;
      }
      img {
        height: 90px;
        width: 90px;
        border-radius: 100px;
      }
    }
    .description {
      margin: 10px;
      .message {
        color: $grey-border;
        text-align: center;
        margin-bottom: 30px;
      }
      .gas-fee-block {
        font-size: 14px;
        display: flex;

        .gas_fee {
          color: $dark-brown;
        }
        .gas_free {
          color: $secondary;
          margin-left: 5px;
        }
        .gas_fee_value {
          color: $dark-brown;
          text-decoration: line-through;
        }
      }
      .service_fee_block {
        font-size: 14px;
        display: flex;
        .serice_fee {
          color: $dark-brown;
        }
        .serice_fee_value {
          color: $dark-brown;
          text-decoration: line-through;
        }
        .serice_free {
          color: $secondary;
          margin-left: 5px;
        }
      }
    }
  }
  .published-wrapper {
    overflow: hidden;
    border-radius: 10px;
    .left-strip {
      min-width: 30px;
      background-color: $secondary;
    }
    .actionables{
      margin-left: 10px;
      display: flex;
      align-items: baseline;
      justify-content: space-between;
      .sharables{
        gap: 20px;
        padding-bottom: 10px;
      }
      .in-app-actions{
        display: flex;
        gap: 20px;
      }
    }
    .right-strip {
      background-color: $secondary-light;
      border-right: 20px solid $primary;
      justify-content: center;
      text-align: center;
      .brand {
        font-weight: 900;
        font-size: 50px;
        text-transform: uppercase;
        color: $primary;
        letter-spacing: 2px;
      }
      .code-n-share {
      }
    }
    .center-strip {
      height: 100%;
      width: 100%;
      .row {
        margin: 10px 0px;
      }
      .row1 {
        position: relative;
        height: 230px;
        align-items: center;
        img {
          position: absolute;
          right: 25%;
        }
        .user {
          font-weight: 100;
          letter-spacing: 4px;
          text-transform: uppercase;
          font-size: 12px;
        }
        .name {
          font-weight: 900;
          font-size: 40px;
          text-transform: uppercase;
          color: #f2933d;
          letter-spacing: 2px;
        }
        .site {
          font-weight: 100;
          letter-spacing: 1px;
          font-size: 12px;
        }
      }
      .billet-item {
        color: $white;
        display: flex;
        flex-direction: column;
      }
      .row2 {
        position: relative;
        height: 150px;
        text-align: center;
        .item {
          font-size: 40px;
        }
        .time {
          font-weight: 100;
          letter-spacing: 1px;
        }
      }
      .row3 {
        position: relative;
        height: 100px;
        .hashValue {
          text-transform: uppercase;
        }
        .trasnection-details {
          display: flex;
          align-items: center;
          gap: 10px;
          div {
            font-size: 12px;
          }
          font-size: 10px;
          margin: 5px 0px;
          letter-spacing: 1px;
        }
      }

      .failed-block {
        display: flex;
        align-items: center;
        margin: 100px 10px;
        color: $white;
      }
    }
  }
  .failed-wrapper {
    display: flex;
    flex-flow: column;
    color: white;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
  }
  .publishing-wrapper {
    .publishing-block-text {
      color: $secondary-light;
      text-align: center;
      justify-content: center;
    }
    p {
      font-size: 20px;
      text-align: center;
    }
    .gif-wrapper {
    }
  }
}
