@import "../../commons/Common.scss";
.createform{
    border-color: $primary-light;
    height: calc(100vh - 120px);
    margin-top: 60px;

    .responsive-content{
        margin-top: 60px;
        .create-form{
            border: 1px solid $primary-light;
            border-radius: 5px;
            height: 90%;
            box-shadow: 0 0.5rem 1rem $primary-lightest !important;
            background-color: #FFFFFF;
            
            .create-wizard-bar{
                height: 50px;
                background-color: $primary-lightest;
            }
            .content-container{
                position: absolute;
                width: 100%;

                height: calc(100% - 50px);
                .title-n-desc{
                    .titleArea, .descriptionArea{
                        border: 0
                    }
                }
                .price-n-category{
                    .price-selector ,.tag-selector{
                        .css-yk16xz-control{
                            border:0
                        }
                        border:0 ;
                    }
                }
                .image-container{
                    display: flex;
                    justify-content: center;
                    align-items: flex-start;
                    border: 1px dashed $primary-light;
                    .imageUploaded{
                        .removeImage{
                            position: absolute;
                            z-index: 1;
                            right: 10px;
                            
                        }
                    }
                    .empty-image-row{
                        align-self: center;
                        .emptyImage{
                            cursor: pointer;
                            .dropfile-text{
                                font-size: 15px;
                                color: $primary;
                                margin-bottom: 10px;
                            }
                            .dropfile-icon{
                                margin-top: 10px;
                            }
                        }
                    }
                }
                .pdf-container{
                    display: flex;
                    justify-content: center;
                    align-items: flex-start;
                    border: 1px dashed $primary-light;
                    .pdfUploaded{
                        .removePDF{
                            position: absolute;
                            z-index: 1;
                            right: 10px;
                            
                        }
                        .react-pdf__Document{
                            margin: 0 auto;
                            width: 80% !important;
                            height: 90% !important;
                        }
                    }
                    .empty-pdf-row{
                        align-self: center;
                        .emptypdf{
                            cursor: pointer;
                            .dropfile-text{
                                font-size: 15px;
                                color: $primary;
                                margin-bottom: 10px;
                            }
                            .dropfile-icon{
                                margin-top: 10px;
                            }
                        }
                    }
                    
                }
            }
           
            .footer-class{
                position: absolute;
                bottom: 0;
                width: 100%;
                height: 50px;
                background-color: #FFFFFF;
                border-top: 1px solid $primary-light;
            }
        }
    }
    .input-err{
        border-bottom: 1px solid $danger !important;
    }
    .invalid-paragraph{
        color: $danger;
        margin: 1rem 0;
        font-size: 12px;
    }
}



