
$primary : #272a34;
$primary-light: #F39422;
$primary-dark: #F39422;
$primary-lightest : #F7F4FB;

$danger: red;
$secondary: #433A83;
$grey-border: #E5E5E5;

$dark-black : #1C1E25;
$light-black: #fff8e9;;
$dark-orange: #F39422;
$light-orange: #c8cfdc;
$charcoal-dark: #272a34;
$dark: #1c1e25;
$white: #ffffff;


