
$primary : #79579F;
$primary-light: #3E346E;

$secondary: #4AA0CD;



// $primary : #0B0D10;
// $primary-light: #202833;
// $secondary: #66FCF1;
// $primary-light: #46A29F;



$danger: red;
$white: white;

$greyLight-1: #E4EBF5;
$greyLight-2: #c8d0e7;
$greyLight-3: #bec8e4;

$grey-darker: #48484a;
$grey-dark: #696978;


$category1: #0B4368;
$category2: #A45C40;
$category3: #543855;


$bolder-text: #755b99;

// Shadow variables 
$shadow: 0.0rem 0.0rem 1.6rem $greyLight-2, 
0.0rem 0.0rem .15rem $greyLight-2;

$inner-shadow: inset .2rem .2rem .5rem $greyLight-2, 
inset -.2rem -.2rem .5rem $white;


$secondary-button-shadow:inset .2rem .2rem 1rem $secondary, 
            inset -.2rem -.2rem 1rem $secondary,
            $shadow;

// play pause icon mixin

@mixin play-pause-animated-btn {
    .circle {
        grid-column: 2 / 3;
        grid-row: 4 / 6;
        width: 9rem;
        height: 100%;
        justify-self: center;
        border-radius: 1rem;
        display: grid;
        grid-template-rows: 1fr;
        justify-items: center;
        align-items: center;
      
        &__btn {
          grid-row: 1 / 2;
          grid-column: 1 / 2;
          width: 6rem;
          height: 6rem;
          display: flex;
          margin: .6rem;
          justify-content: center;
          align-items: center;
          border-radius: 50%;
          font-size: 3.2rem;
          color: $secondary;
          z-index: 300;
          background: $greyLight-1;
          box-shadow: $shadow;
          cursor: pointer;
          position: relative;
          &.shadow {box-shadow: $inner-shadow;}
      
          .play {
            position: absolute;
            opacity: 0;
            transition: all .2s linear;
            &.visibility {
              opacity: 1;
            }
          }
          .pause {
            position: absolute;
            transition: all .2s linear;
            &.visibility {
              opacity: 0;
            }
          }
        }
      
        &__back-1, &__back-2 {
          grid-row: 1 / 2;
          grid-column: 1 / 2;
          width: 6rem;
          height: 6rem;
          border-radius: 50%;
          filter: blur(1px);
          z-index: 100;
        }
      
        &__back-1 {
          box-shadow: .4rem .4rem .8rem $greyLight-2, 
          -.4rem -.4rem .8rem $white;
          background: linear-gradient(to bottom right, $greyLight-2 0%, $white 100%);
          animation: waves 4s linear infinite;
      
          &.paused { 
          animation-play-state: paused;
          }
        }
      
        &__back-2 {
          box-shadow: .4rem .4rem .8rem $greyLight-2, 
          -.4rem -.4rem .8rem $white;
          animation: waves 4s linear 2s infinite;
          
          &.paused { 
            animation-play-state: paused;
          }
        }
      }
}
@keyframes waves {
    0% {
      transform: scale(1);
      opacity: 1;
    }
  
    50% {
      opacity: 1;
    }
  
    100% {
      transform: scale(2);
      opacity: 0;
    }
  }

  @mixin social-icon-wrapper($backgroungColor: $primary) {
      width: 35px;
      height: 35px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      color: $primary-light;
      i{
        font-size: 18px;
      }
  }

  .social-icon-wrapper{
    &.fb{
      @include social-icon-wrapper(white)
    }
    &.twitter{
      @include social-icon-wrapper(white)

    }
    &.whatsapp{
      @include social-icon-wrapper(white)
    }
    &.linkedin{
      @include social-icon-wrapper(white)
    }
  }

  .mt-14{
    margin-top: -14px;
  }