@import "./commons/Common.scss";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@200&display=swap");

/* Styles go here */

.appContainer {
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
  -webkit-font-smoothing: antialiased;
}
input[type="radio"]:after {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  top: -2px;
  left: -1px;
  position: relative;
  background-color: #d1d3d1;
  content: "";
  display: inline-block;
  visibility: visible;
  border: 2px solid white;
}

input[type="radio"]:checked:after {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  top: -2px;
  left: -1px;
  position: relative;
  background-color: #ffa500;
  content: "";
  display: inline-block;
  visibility: visible;
  border: 2px solid white;
}
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  .signature-icons {
    color: $primary !important;
  }
  background-color: #ffffff;
  opacity: 1;
  background-image: radial-gradient(
    #f1f1f1 0.35000000000000003px,
    #ffffff 0.35000000000000003px
  );
  background-size: 7px 7px;
}

.btn:focus,
.btn:active {
  outline: none !important;
  box-shadow: none;
}
.form-group {
  .form-control {
    border: 0;
    border-radius: 0;
    border-bottom: 1px solid #ced4da;
    &:focus {
      box-shadow: none;
    }
  }
}
.no-padding-lr {
  padding-left: 0px !important;
  padding-right: 0px !important;
}
.no-padding-l {
  padding-left: 0px !important;
}
.cursor-pointer {
  cursor: pointer;
}
.white {
  color: white;
}

.btn {
  font-size: 12px;
  line-height: 16px;
  height: 26px;
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
  font-weight: 600;
  padding: 4px 15px;
  white-space: nowrap;
  cursor: pointer;
  text-decoration: none;
  box-sizing: border-box;
  border-radius: 4px;
  border: 1px solid $primary !important;
  outline: none;
  background-clip: border-box !important;
  background-origin: border-box !important;
  &:focus {
    box-shadow: none;
    color: white;
  }
  &:focus,
  &:active {
    box-shadow: none;
    color: white;
  }
  &.btn-primary {
    background-color: $secondary;
    border-color: $secondary !important;
    &:focus,
    &:hover,
    &:active {
      background-color: $secondary !important;
      box-shadow: none;
    }
  }

  &.btn-secondary {
    border-color: $secondary !important;
    color: $secondary;
    background: transparent;
    &:focus,
    &:hover,
    &:active {
      background: $secondary !important;
      color: $white !important;
    }
  }
  &.btn-ternary {
    border-color: $primary-dark !important;
    color: $primary-dark;
    background: transparent;
    &:focus,
    &:hover,
    &:active {
      background: $primary-dark !important;
      color: $white !important;
    }
  }
  &.btn-fourth {
    background-color: $primary;
    border-color: $primary !important;
    color: $secondary;
    &:focus,
    &:hover,
    &:active {
      background-color: $primary !important;
      box-shadow: none;
    }
  }
  &.btn-pill {
    border-color: $secondary !important;
    color: $secondary;
    background: transparent;
    height: 20px;
    border-radius: 15px;
    &:focus,
    &:hover,
    &:active {
      pointer-events: none;
    }
  }
  &.btn-disabled {
    color: $primary;
    background-color: $grey-border;
    pointer-events: none;
  }
}
.generic-cls {
  color: $secondary !important;
  background-color: $primary !important;
  .Toastify__close-button {
    svg {
      color: $secondary;
    }
  }
}
.main-content-component {
  margin-top: 110px;
  height: calc(100vh - 100px);
  width: 100%;
  text-align: center;
  color: $primary;
  font-size: 18px;
  text-align: left;
}

.master-header {
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  font-size: 32px;
  font-weight: 700;
  line-height: 38px;
}

.second-header {
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
}

.third-header {
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
}

.master-grey {
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
}

.second-grey {
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
}

.readable-text {
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  font-size: 20px;
  font-weight: 400;
}

.text-banner {
  font-size: 20px;
  line-height: 25px;
  .italics {
    font-style: italic;
  }
}
