
/* Styles go here */

$primaty-green:"#60B6A8";
$primary-red:"#D96C5D";
$primary-yellow:"#D96C5D";

.appContainer{
  .content{
    
  }
}
body{
  font-family: Verdana, sans-serif;
}


.btn:focus,.btn:active {
  outline: none !important;
  box-shadow: none;
}
.form-group{
  .form-control{
    border: 0;
    border-radius: 0;
    border-bottom: 1px solid #ced4da;
    &:focus{
      box-shadow: none;
    }  
  }
}

.cursor-pointer{
  cursor: pointer;
}

.btn-danger{
  color: #fff;
  background-color: #E3675A;
  border-color: #E3675A;
}



