@import "./commons/Common.scss";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@200&display=swap");

/* Styles go here */

.appContainer {
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
  -webkit-font-smoothing: antialiased;
}

.app-content{
  margin-bottom: 60px;
  overflow: hidden;
}

body {
  font-family: "Inter, system-ui", Tahoma, Geneva, Verdana, sans-serif;
  .signature-icons {
    color: $primary !important;
    stroke: $primary;
  }
  .react-share__ShareButton {
    color: $white;
  }
  background-color: #ffffff;
  opacity: 1;
  background-image: radial-gradient(
    #f1f1f1 0.35000000000000003px,
    #ffffff 0.35000000000000003px
  );
  background-size: 7px 7px;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  margin-bottom: 0 ;
}

.btn:focus,
.btn:active {
  outline: none !important;
  box-shadow: none;
}
.form-group {
  .form-control {
    border: 0;
    border-radius: 0;
    border-bottom: 1px solid #ced4da;
    &:focus {
      box-shadow: none;
    }
  }
}
.no-padding-lr {
  padding-left: 0px !important;
  padding-right: 0px !important;
}
.no-padding-l {
  padding-left: 0px !important;
}
.cursor-pointer {
  cursor: pointer;
}
.white {
  color: white;
}

.btn {
  font-size: 12px;
  line-height: 16px;
  height: 36px;
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
  font-weight: 600;
  padding: 4px 15px;
  white-space: nowrap;
  cursor: pointer;
  text-decoration: none;
  box-sizing: border-box;
  border: 1px solid $primary !important;
  outline: none;
  background-clip: border-box !important;
  background-origin: border-box !important;
  @extend .master-grey;
  &:focus {
    box-shadow: none;
    color: white;
  }
  &:focus,
  &:active {
    box-shadow: none;
  }
  &.btn-primary {
    background-color: $primary;
    border-color: $primary !important;
    color: $white;
    &:focus,
    &:hover,
    &:active {
      background-color: $primary !important;
      box-shadow: none;
    }
  }

  &.btn-secondary {
    background-color: $secondary;
    border-color: $secondary !important;
    color: $white;
    &:focus,
    &:hover,
    &:active {
      background-color: $secondary !important;
      box-shadow: none;
    }
  }
  &.btn-ternary {
    color: $secondary;
    background: $white !important;
    &:focus,
    &:hover{
      border-color: $white !important;
      background: $secondary !important;
      color: $white;
    }
    &:active {
      background: $secondary !important;
      color: $white !important;
    }
  }
  &.btn-fourth {
    background-color: $primary;
    border-color: $primary !important;
    color: $secondary;
    &:focus,
    &:hover,
    &:active {
      background-color: $primary !important;
      box-shadow: none;
    }
  }
  &.btn-pill {
    border-radius: 10px;
    border-color: $primary !important;
    color: $primary;
    background: $greyLight-1;
    color: $primary;
    height: 20px;
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    &:focus,
    &:hover,
    &:active {
      
    }
  }
  &.btn-action{
        padding: 10px 12px;
        height: 50px;
        width: 50px;
        border: none !important;
        border-radius: 25px;
        box-shadow: $shadow;
        font-size: 18px;
        background-color: $white;
        &:hover, &:active {
            color: #6c757d;
        }
        &:focus{
          color: initial;
        }
        &.small{
          height: 50px;
          width: 50px;
        }
    }
  
  &.btn-disabled {
    color: $primary;
    background-color: $greyLight-1;
    pointer-events: none;
  }
}
.generic-cls {
  color: $secondary !important;
  background-color: $white !important;
  .Toastify__close-button {
    svg {
      color: $secondary;
    }
  }
}

.main-content-component {
  margin-top: 110px;
  height: calc(100vh - 100px);
  width: 100%;
  text-align: center;
  color: $primary;
  font-size: 18px;
  text-align: left;
}

.master-header {
  font-family: "Inter, system-ui", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  font-size: 32px;
  font-weight: 700;
  line-height: 38px;
}

.second-header {
  font-family: "Inter, system-ui", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
}

.third-header {
  font-family: "Inter, system-ui", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
}

.father-grey {
  font-family: "Inter, system-ui", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
    font-size: 32px;
    font-weight: 700;
    line-height: 38px;
  color: $grey-darker;
}

.master-grey {
  font-family: "Inter, system-ui", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  color: $grey-darker;
}

.second-grey {
  font-family: "Inter, system-ui", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  color: $grey-dark;
}

.readable-text {
  font-family: "Inter, system-ui", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  font-size: 21px;
  font-weight: 400;
  line-height: 26px;
}

.link-text {
  font-family: "Inter, system-ui", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  font-size: 14px;
  font-weight: 400;
}

.error-message{
  font-family: "Inter, system-ui", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  font-size: 12px;
  font-weight: 300;
  line-height: 18px;
  color: red;
}

.user-circle{
  height: 30px;
  width: 30px;
  border-radius: 21px;
}

.color-white{
  color: $white;
}

.color-primary{
  color: $primary !important;
}

.color-primary-light{
  color: $primary-light !important;;
}

.color-secondary{
  color: $secondary;
}

.color-primary-light{
  color: $primary-light;
}

.text-banner {
  font-size: 20px;
  line-height: 25px;
  .italics {
    font-style: italic;
  }
}

@media (min-width:1440) {
  .col-lg-2-4{
    flex: 0 0 20% !important;
    max-width: 20% !important;
  }
}

@media only screen and (max-width: 600px) {
  .desktop-view {
    display: none !important;
  }
  #txtmeLivechatWrapper, .loggedinaccount, .fixed-bottom {
    display: none !important;
  }
  .app-content {
    margin-bottom: 20px;
  }
  .search-container{
    height: 160px !important;
    .search-bar-container{
      width: 100% !important;
      .search-dropdown-container{
        width: 100% !important;
        text-align: center;
        #search-box {
          width: 100%;
        }
      }
    }
  }
  
  .mobile-view {
    display: block !important;
  }
  .d-flex-mobile{
    display: initial !important;
  }
  .main-container:not(:nth-child(1)){
  }
  .signature-mobile-view {
    .d-flex {
      flex-direction: column !important;
      margin-bottom: 1rem;
      .user-details {
        margin-bottom: 1rem;
      }
    }
  }
  .fixed-bottom {
    position: relative;
    height: auto !important;
    .footer-info-wrapper {
      flex-flow: column;
    }
  }
  .profile-detail{
    margin: 0 15px;
  }
  .about-item {
    img {
      width: auto !important;
      height: auto !important;
    }
  }
  .about-first {
    margin-top: 80px !important;
  }
}


.text-center {
  text-align: center;
}

.mobile-view {
   display: none;
   &.fa {
     display: none;
   }
}
.desktop-view {
  display: block;
}
.display-none {
  display: none !important;
}
.mobile-menu {
  position: absolute;
  background: white;
  z-index: 99;
  top: 40px;
  right: 31px;
  padding: 1rem;
  border-width: 1px;
  text-align: center;
  border-radius: 0.5rem;
  border: 1px solid rgba(0,0,0,.15);
  width: 50%;
  .items{
    text-align: left;
    i{
      color: $secondary;
      font-size: 24px;
      width: 45px;
      height: 45px;
      padding-left: 10px;
    }
  }
}
.d-flex-mobile{
  display: flex;
}

.uppercase{
  text-transform: uppercase;
}