@import "../../commons/Common.scss";
.banner{
    color: white;
    .banner_header{
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        letter-spacing: 2px;
    font-size: 20px;
    color: $dark-brown;
    }
    .carousal-first{
        .content{
           
        }
        .carousal-row1{
            
        }
    }
    .carousal-second{
        
    }
    .carousal-third{
        
    }
}
