@import "../../commons/Common.scss";
.appHeader{
    width: 100%;
    z-index: 10000;
    position: fixed;
    height: 60px;
    border-bottom: 1.5px solid $primary;
    .header-icons{
        color: $primary;
    }
    .left-section{
        display: flex;
        flex: .6;
        align-items: flex-end;
        .nav-link {
                color: $primary !important;
                &.active{

                }
        }
    }
    .middle-section {
        flex: 1
    }
    .right-section{
        display: flex;
        gap: 20px;
        
    }
    .dropdown-menu{
        padding: 3px;
        top: 15px;
        border-radius: 3px;
        box-shadow: 0 0.5rem 1rem $primary-lightest !important;
        transform: translate(-120px, 37px);
        .dropdown-item{
            
            font-size: 16px;
            padding: 10px 6px;
            width: 100%;
            border-bottom: 1px solid #e2e2e2;
            &:last-child{
                border-bottom: 0
            }
        }

    }
}
