@import "../../commons/Common.scss";
.appHeader{
    width: 100%;
    z-index: 10;
    position: fixed;
    top:0;
    height: 70px;
    background-color: $primary !important;
    ;
    .header-icons{
        color: $primary;
    }
    .left-section{
        display: flex;
        flex: .6;
        align-items: center;
        .nav-link {
                color: $primary !important;
                &.active{

                }
        }
    }
    .middle-section {
        flex: 1
    }
    .right-section{
        cursor: pointer;
        display: flex;
        align-items: center;
        gap: 20px;
        .loggedinaccount{
            color: $white;
        }
    }
    .dropdown-menu{
        padding: 3px;
        top: 15px;
        border-radius: 3px;
        transform: translate(-120px, 37px);
        .dropdown-item{
            
            font-size: 16px;
            padding: 10px 6px;
            width: 100%;
            border-bottom: 1px solid #e2e2e2;
            &:last-child{
                border-bottom: 0
            }
        }

    }
}
