.react-pdf__Page__canvas{
    margin: auto;
}
.terms{
    height: 100%;
}
.terms-body{
    background: white;
    color: black;
    padding: 30px;
    margin: 3rem 5rem;
    font-family: "system-ui";
    .faq-title {
        font-size: 14px;
        pointer-events: all;
        font-weight: bold;
        margin-bottom: 20px;
        &:hover {
            cursor: pointer;
        }
    }
    .faq-content {
        font-size: 14px;
        pointer-events: all;
        margin-bottom: 20px;
    }
    .author {
        height: 1em;
        font-size: 11px;
        top: 340.06px;
        left: 270.512px;
        transform-origin: left bottom;
        white-space: pre;
        pointer-events: all;
        transform: scaleX(0.94052) translateY(25%);
    }
    .numbered-list {
        list-style: auto;
    }
    .alphabet-list { 
        list-style: lower-alpha;
    }
    .alphabet-upper-list { 
        list-style: upper-alpha;
    }
    .roman-list { 
        list-style: upper-roman;
    }
    .roman-lower-list { 
        list-style: lower-roman;
    }
    .aggrement{
        ol {
            counter-reset: item;
            li {
                display: block
            }
            li:before {
                content: counters(item, ".") ".";
                counter-increment: item
            }
            ul{ 
                li {
                display: list-item;
                }
            }
            ul{
                li:before {
                content: normal;
                }
            }
        }
        
    }
      
}