
.vertical-shelf{
    display: flex;
    flex-direction: column;
    gap: 20px;

    .rack-card-body{
        padding: .5rem;
        .signature-title{
            &:hover{
                text-decoration:underline;
                cursor: pointer;
            }
        }
    }
    
}