@import "../../commons/Common.scss";
@media (min-width: 576px) {
  .racks-container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .racks-container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .racks-container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .racks-container {
    max-width: 840px;
  }
}
.rack {
  min-height: calc(100vh - 230px);
}
