
.vertical-shelf{
    display: flex;
    gap: 20px;
    .signature{
        &:hover{
            box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15)
        }
    }
    .rack-card-body{
        padding: .5rem;
        .signature-title{
            &:hover{
                text-decoration:underline;
                cursor: pointer;
            }
        }
    }
    
}