@import "../../commons/Common.scss";


.custom-slider {
    position: absolute;
    height: 5px;
    width: 100%;
    overflow-x: hidden;
    .line {
        opacity: .4;
        background: #c9d3d7;
        width: 150%;
        position: absolute;
        height: 5px;
    }
    .inc {
        animation: increase 4s infinite;
    }
    .subline {
        position: absolute;
        background: #5120d5;
        height: 5px;
        width: 100px;
        left: -100px;
    }
    .dec {
        animation: decrease 4s 2s infinite;
    }
    
}
