@import "../../commons/Common.scss";
.info-modal-dialog{
    top: 30px;
    .modal-content{
        border-radius: 12px;
        .info-modal-body{
           
            padding: 48px;
            .selective-component{
              
              .collab-section{
                .dropdown{
                  .dropdown-toggle{
                    border: 1px solid #cccccc !important;
                    &::after{
                      margin-left: 0;
                      position: absolute;
                      right: 8px;
                    }
                    &:focus, &:active, &:hover{
                      color: #48484a;
                      background: $white;
                    }
                  }
                }
              }
            }
            .purpose-selection {
                margin: 15px;
                .image-placeholder{
                  display: flex;
                  justify-content: center;
                }
                .status_message{
                  &.SUCCESS{
                    
                  }
                  &.FAILED{
                    
                  }
                }
                .purpose-message{
                }
              }
        }
    }
}