
/* Styles go here */
@import url('https://fonts.googleapis.com/css?family=Patrick+Hand+SC|Roboto&display=swap');

.btn:focus,.btn:active {
  outline: none !important;
  box-shadow: none;
}
.form-group{
  .form-control{
    border: 0;
    border-radius: 0;
    border-bottom: 1px solid #ced4da;
    &:focus{
      box-shadow: none;
    }  
  }
  
}



.appContainer{
  font-family: 'Roboto';
  .content{
      padding-top: 6.25rem !important;
  }
}
