@import "../../commons/Common.scss";

@keyframes spin_words {
  20%{
      transform: translateY(-112%);
  }
  40%{
      transform: translateY(-100%);
  }
  60%{
      transform: translateY(-212%);
  }
  80%{
    transform: translateY(-200%);
  }
  100%{
    transform: translateY(-312%);
  }
}

.create-idea-modal-dialog {
  top: 30px;
  max-width: 660px;
  @media screen and (max-width: 768px) {
    margin-left: 0;
    margin-right: 0;
  }
  .modal-content {
    border-radius: 12px;
  }
}
.create-idea-modal {
  .create-idea-modal-body {
    padding: 0;
    .modal-header-wrapper {
      padding: 0 40px;
      .image-placeholder {
        width: 100%;
        background: #fff;
        color: #fff;
        position: relative;
        border-radius: 12px;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        img {
          width: 300px;
          height: 300px;
          object-fit: contain;
        }
        .empty-image-row {
          padding: 35px;
          width: 300px;
          height: 300px;
          .emptyImage {
            border: 1px dashed $greyLight-3;
            padding: 10px;
            border-radius: 8px;
            display: flex;
            justify-content: center;
            align-items: center;
            .placeholder-image {
              width: 100px;
              height: 100px;
            }
            p {
              margin: 10px 0;
              color: $primary-light;
              text-align: center;
              &.invalid-paragraph {
                color: $danger;
                margin: 1rem 0;
                font-size: 12px;
              }
            }
            &:hover{
              cursor: url("../../../assets/images/art.png"), auto;
            }
          }
        }
        .imageUploaded {
          display: flex;
          justify-content: center;
          .remove-thumbnail-btn {
            margin-bottom: 16px;
            padding: 10px;
            height: auto;
            border: none !important;
            border-radius: 8px;
            color: $grey-dark;
            font-size: 15px;
            position: absolute;
            right: 15px;
            top: 10px;
            &:hover,
            &:active {
              background-color: transparent;
              color: #6c757d;
            }
          }
        }
      }
    }
    .selective-component{
      min-height: 150px;
      .dropdown-toggle {
        border: 1px solid #cccccc !important;
        &::after{
          margin-left: 0;
          position: absolute;
          right: 8px;
        }
        &:focus, &:active, &:hover{
          color: #48484a;
          background: $white;
        }
      }
    }
    .purpose-selection {
      margin: 15px;
      .purpose-tabs {
        display: flex;
        gap: 15px;
        .purpose-entry {
          height: 150px;
          border: 1px solid $greyLight-3;
          border-radius: 10px;
          padding: 5px;
          flex: 1;
          cursor: pointer;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          .purpose-icon{
            font-size: 20px;
            margin-bottom: 10px;
            color: $primary;
          }
          .purpose-text{
            color: $primary;
          }
          &.disabled{
            cursor: no-drop;
            background-color: $greyLight-1;
            &:hover{
              &::after{
                content: "Coming Soon";
                position: absolute;
                background: #e4ebf5;
                width: 97px;
                height: 50px;
                animation: ball-scale 1s ease-in forwards;
                animation-direction: reverse;
                font-family: "Inter, system-ui", "Helvetica Neue", Helvetica, Arial, sans-serif;
                font-size: 14px;
                font-weight: 500;
                line-height: 20px;
                color: $grey-dark;
                text-align: center;
              }
            }
          }
          &.selected{
            box-shadow: $shadow;
            .purpose-icon{
              color: $white;
            }
            .purpose-text{
              color: $white;
            }
            border: 2px solid $secondary;
            background-color: $secondary;
          }
        }
      }
    }
    .tags-section {
      .tag-selector {
        &.input-err {
          border-bottom: none !important;
          .css-yk16xz-control {
            border: 1px solid $danger;
          }
        }
        .css-yk16xz-control {
          background: transparent;
          border-top: none;
          border-left: none;
          border-right: none;
          border-radius: 0;
          border: 1px solid $greyLight-2 !important;
        }
        background: transparent;
        // color: $white;
        .css-g1d714-ValueContainer {
          outline: none;
          .css-1rhbuit-multiValue {
            background: transparent;
            border-radius: 10px;
            height: 20px;
            font-size: 14px;
            display: flex;
            align-items: center;
            border: 1px solid $secondary;
            .css-12jo7m5,
            .css-xb97g8 {
              color: $secondary;
            }
          }
          .css-12jo7m5 {
            color: $white;
          }
        }
      }
    }
    .price-section {
      margin: 15px 0;
      .price-input-group {
        input {
          border: 1px solid #ced4da;
          border-top-left-radius: 4px;
          border-bottom-left-radius: 4px;
          &.input-err {
            border: 1px solid $danger;
          }
        }
        .input-group-text {
          background: transparent;
          //   color: $white;
          border-left: 0;
          border-top-left-radius: 0;
          border-bottom-left-radius: 0;
        }
      }
    }
    .file-storage-group {
      .dropdown {
        .selected-storage{
          font-size: 14px;
          font-weight: 500;
          line-height: 18px;
          color: $grey-dark;
          border: 1px solid $greyLight-1 !important;
          background-color: $white;
          &:active {
            background-color: transparent;
            color: $grey-dark;
          }
        }
        .dropdown-item:hover, .dropdown-item:focus{
          background: transparent !important;
        }
        .dropdown-menu {
          .dropdown-item {
            padding: 5px;
            font-size: 14px;
            font-weight: 500;
            line-height: 18px;
            color: $grey-dark;
            &:hover {
              background: transparent !important;
            }
          }
        }
      }

      .file-storage-label {
        display: flex;
        align-items: center;
        margin-bottom: 10px;
        i {
          margin-left: 10px;
        }
        label {
          margin: 0;
        }
      }
      .form-check {
        margin-top: 15px !important;
      }

      .select__control {
        background: transparent;
        .select__single-value {
          color: $white;
        }
      }
      .form-check {
        font-size: 15px;
        color: $white;
        margin-right: 25px;
      }
    }
    .loading-section {
      background-color: $greyLight-1;
      border-bottom-right-radius: 12px;
      border-bottom-left-radius: 12px;
      .publishing-wrapper {
        align-items: center;
        padding: 20px;
        .words{
          text-align: center;
          color: $primary;
          overflow: hidden;
          height: 20px;
          .word {
            display: block;
            height: 100%;
            padding-left: 10px;
            font-size: 14px;
            animation: spin_words 6s infinite;
          }
        }
      }
    }
    .failed-section {
      padding: 20px;
      background-color: $greyLight-1;
      border-radius: 12px;
    }
    .passed-section {
      background-color: $greyLight-1;
      border-radius: 12px;
      .code-n-share{
        color: #e4ebf5;
      }
    }

    .opcity-bg{
      width: 100%;
      height: 100%;
      background: url(/static/media/cover.3ffb5c64.jpg);
      opacity: 0.1;
    }
    .center-strip{
      padding-top: 20px;
      padding-bottom: 20px;
      background-repeat: repeat !important;
      background-size: cover !important;
      border-right: 1px solid white;
    }
    .view-only {
      position: absolute;
      bottom: 0;
      right: 0;
      right: 11px;
    }
    .button-section {
      margin: 0 0px 0px 0;
      border-bottom-left-radius: 6px;
      border-bottom-right-radius: 6px;
      padding: 10px 0;
      .dropdown-toggle {
        background: transparent;
        border: none !important;
        box-shadow: none !important;
        color: $primary;
        &::after{
          content: '';
        }
      }
      .dropdown-menu {
        min-width: 3rem;
      }
      .justify-content-start{
        justify-content: start !important;
      }
      .button-bar {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        z-index: 3;
        #dropdown-share{
          padding: 10px 8px;
          &::after{
            display: none;
          }
        }
        @media (min-width: 920px) {
          position: sticky;
          top: 40px;
        }
        .btn {
          padding: 10px 16px;
          border: none !important;
          height: auto;
          display: flex;
          align-items: center;
          box-shadow: $shadow;
          cursor: pointer;
          &.cancel-btn {
            background: $white;
            color: #79579F;
            margin-right: 10px;
            &:hover,
            &:active {
              background: transparent !important;
            }
          }
        }
      }
      .done-btn {
        border-bottom-left-radius: 12px;
        border-bottom-right-radius: 12px;
        border-top-left-radius: 0px;
        .submit-btn {
          box-shadow: none;
        }
      }
      .social-icon-wrapper.fb, .social-icon-wrapper.whatsapp, .social-icon-wrapper.linkedin {
        color: $primary;
      }
    }
  }
  &.input-err {
    border: 1px solid $danger;
  }
}

.billet-item {
  .name {
    color: #755b99;
    font-size: 24px;
    font-weight: 700;
  }
  .link {
    font-size: 10px;
    opacity: .7;
  }
  .trasnection-details {
    line-height: 10px;
  }
  .transaction-head {
    color: #776ce2;
    font-size: 12px;
  }
  .hashValue{
    color: #3d3c39;
    font-size: 0.5rem;
    word-break: break-word;
  }
  .item {
    color: #403b6c;
    font-size: 24px;
    text-align: center;
    font-weight: bold;
  }
  .time {
    color: $secondary;
  }
}
.right-strip {
  // border-left: 18px solid #72599c;
  // border-right: 18px solid #72599c;
  border-top-right-radius: 10px;
  .billet-item-head{
    color: $primary;
    font-size: 30px;
    text-align: center;
    font-weight: 600;
    line-height: 10px;
  }
  .billet-item-text{
    color: $primary;
    font-size: 14px;
    font-weight: 600;
    font-family: system-ui;
    text-align: center;

  }
}
.view-close-btn {
  position: absolute;
  top: 8px;
  right: 25px;
  color: $primary;
}