
.createModal{
    .formEntries{
        margin-bottom: 0;
        .formEntry{
            margin-bottom: 20px;
            &:last-child{
                margin-bottom: 0;
            }
        }
    }
    
    .fileContainers{
        display: flex;
        flex-direction: column;
        .imageContainer, .pdfContainer{
            align-items: stretch;
            flex: 0.9;
            display: flex;
            justify-content: center;
            outline: none;
            .container{
                padding: 0;
                margin-left: 0;
            }
            .dropZone{
                background-color: #F1F1F1;
                border: 1px dashed #c7c7c7;
                border-style: dashed;
                display: flex;
                justify-content: center;
                align-items: center;
                color: #8c8888;
                width: 100%;
                outline: none;
            }
            .emptypdf{
                height: 50px !important;
            }
            .pdfUploaded{
                padding: 15px;
                width: 100%;
            }
            .droppedImage{
                flex: 0.2;
            }
        }
        .pdfContainer{
            flex: 0.1;
            margin-top: 10px;
            .uploadedPDF{
                background-color: #FFFFFF;
            }
        }
        
        .tokenModeCard{
            height: 250px;
            display: flex;
            align-items: center;
            text-align: center;
            cursor: pointer;
            flex-direction: initial;
            &:hover{
                
            }
        }
    }
    
}



