@import "../../commons/Common.scss";
.scrolable-comments {
  // height: calc(100vh - 600px);
  overflow-y: scroll;
  .comment-item {
    padding-bottom: 1.1rem;
    .content{
      .person-mention{
        color: $secondary;
        cursor: pointer;
      }
    }
    .user-circle {
      height: 30px;
      width: 30px;
      border-radius: 21px;
    }
  }
}
.mentions-area{
  textarea {
    position: relative;
    display: block;
    height: 65px !important;
    padding: 0.375rem 0.75rem;
    // font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: transparent;
    background-color: #fff !important;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    overflow-y: scroll !important;
  }
}
.special-mention {
  color: green;
}

.mentions {
  margin: 1em 0;
}

.mentions--singleLine .mentions__control {
  display: inline-block;
}
.mentions--singleLine .mentions__higlighter {
  padding: 1px;
  border: 2px inset transparent;
}

.mentions--multiLine .mentions__control {
  // font-size: 14pt;
  background-color: #fff !important;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  overflow-y: scroll !important;
  height: 65px;
}
.mentions--multiLine .mentions__highlighter {
  padding: 7px;
}
.mentions--multiLine .mentions__input {
  padding: 8px;
  min-height: 63px;
  outline: 0;
  border: 0;
  caret-color: $primary;
  color: transparent;
}

.mentions__highlighter__substring{
  visibility: visible !important;
  color: $grey-dark !important;
}

.mentions__suggestions__list {
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.15);
  height: 250px;
  overflow: scroll;
}

.mentions__suggestions__item {
  padding: 2px 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  font-size: 1rem;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  color: $grey-dark;
}


.mentions__suggestions__item--focused {
  background-color: lighten(#79579F, 30%);
}
.mentions__suggestions {
  top: 15px !important;
}

.mentions__mention {
  // background-color: lighten(#79579F, 30%);
  // font-size: 1.3rem;
  color: $secondary;
}