@import "../../commons/Common.scss";

.profile {
  .register-modal {
    min-height: 100vh;
  }
  .separator {
    margin-top: 60px;
    display: flex;
    min-height: calc(100vh - 60px);
    .intial-block {
      flex: 1;
      max-height: 300px;
      padding: 20px;
      background-color: #fff;
      margin-right: 20px;
      h5 {
        text-transform: uppercase;
        font-size: 17px;
        font-weight: 500;
      }
      .options {
        margin-top: 20px;
        p {
          //    margin: 0;
        }
      }
    }

    .tabs-wrapper {
      flex: 5;
      .nav-tabs {
        .nav-item {
          color: #000;
          border: 0;
          font-size: 14px;
          font-weight: 500;
          line-height: 18px;
          color: $grey-dark;
          &.active {
            border-bottom: 2px solid $secondary;
            color: $secondary;
          }
        }
      }
      .profile-details{
        height: 230px;
        padding-top: 20px;
        overflow: auto;
        .following{
          background-color: $secondary;
          color: $white !important;
        }
      }
    }

    .tab-content {
      margin-bottom: 20px;
    }
  }

  .notification-wrapper{
    padding-top: 25px;
    border-left: 1px solid $greyLight-2;
    padding-left: 0;
    padding-right: 0;
    overflow: scroll;
    max-height: calc(100vh - 100px);
  }

  .clanPane {
    padding: 10px;
    padding-top: 50px;
    display: flex;
    align-items: center;
    background-color: #F1F1F1;
    .profile-section{
     

    }
    .profile-info{
      color: $primary-light;
      .address-copy{
        color: $secondary;
      }
    }

    .actions{
      display: flex;
      justify-content: center;
      align-items: inherit;
      flex-flow: column;
      gap: 10px;
      flex-direction: row;
    }
    .profileHolder {
      height: 75px;
      width: 75px;
      border-radius: 150px;
      border: 2px solid #f1f1f1;
      align-self: flex-end;
      position: relative;
      background-color: white;
      top: 35px;
      justify-content: center;
      -webkit-align-items: center;
      display: flex;
    }
  }
  .collection-wrapper {
    display: flex;

    .middle-block {
      margin-top: 30px;
      flex: 4;
      .empty-collection{
        
      }
    }
  }
  .transactions-wrapper {
    min-height: 300px;
    text-align: center;
    margin-top: -2px;
  }

  .collection-container {
    max-width: 100%;
  }
  .wallet-wrapper{
    display: flex;
  }
  .transaction-wrapper{
    min-height: 200px;
    overflow-y: auto;
    margin-top: 20px;
  }
}
