.transaction-container{
    .transaction-type{
        h6{
            font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
            font-size: 25px;
            font-weight: 700;
            line-height: 38px;
            color: #696978;
        }

    }
    .no-transaction{
        h6{
            text-align: center;

        }

    }
}